@import '../../common/colors.scss';

.review {
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 23%;
    height: 15em;
    border-radius: 1em;
    margin-bottom: 0.5em;
    margin: 1%;
    background-color: white;
    box-shadow: 6px 6px 8px 0px #00000075;
    max-width: 30rem;
    transition: transform 250ms ease-in;

    &:hover {
        opacity: 0.8;
        transform: scale(1.02);
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 10em;
        height: 8em;
        padding: 1em;

        p {
            margin: 0;
            padding-bottom: 0.6em;
        }

        img {
            width: 75%;
            height: auto;
            max-height: 80%;
            margin-bottom: 0.3em;
        }

        h1 {
            margin: 0;
            width: 12em;
            text-align: center;
            margin-top: 0.6em;
            margin-bottom: 0.5em;
        }
    }
}