$makerBlack: #000000;
$makerWhite: #ffffff;

.footer {
    width: 100%;
    text-align: center;
    background-color: $makerBlack;
    position: fixed;
    bottom: 0;
}

.title {
    color: $makerWhite;
}